* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    color: white;
    font-size: larger;
}
img {
 width: 100px;
}

header {
 
   width: 100%;
   padding: 20px 100px;
   justify-content: space-between;
   align-items: center;
   text-align: center;
   background-color: #009688;
   display: flex;
   justify-content: space-between;
   margin-bottom: 25px;
   align-content: space-between;
}
.header-logo {
    width: 110px;
}
h1El{
    
    display: flex
    }
    
gh{
        display: grid;
        grid-template-columns: auto auto auto;
        
}
    
#div2{
        width: 250px;
        padding : 15px;
        margin-left: 130px;
        margin-bottom: 20px;
        font-size : large;
        color : white;
        background: white;
        background-color: #009688;
        text-align: center;
        
        
} 
#div2 *{
        display: flex;
        justify-content: center;
    
        
}
#img2{
        padding-bottom: 10px;
        display: block;
        margin: 0 auto;
}

footer {
    
    width: 100%;
    padding: 20px 100px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #009688;
    display: flex;
   justify-content: space-between;
}
.footer-logo {
    width: 110px;
}
p {
    color: white;
    font-size: larger;
    margin-bottom: 15px;
}
#face {
    color: white;
    font-size: large;
    margin-right: 20px;
}
#twit {
    color: white;
    font-size: large;
}
h1 {
    margin-bottom: 20px;
}